.scrollToButtons {
  position: fixed;
  top: 33vh;
  right: 1.3em;
}
.buttonSec {
  margin-bottom: 10px;
  height: 25px;
  width: 3px;
  background: rgba(22, 22, 22, 0.13);
  border: 1px solid;
  cursor: pointer;
}

/* .buttonSec:hover::after {
  content: attr(data);
  left: -50px;
} */