.headerSec {
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background-color: #eee;
}

.container {
  height: 100vh;
  width: 108vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  overflow: hidden;
}

.fItem1 {
  flex: 3.5;
  position: relative;
  left: 7vw;
  top: 50vh; 
}
.htitle {
  font-family: Arial, sans-serif;
  color: rgb(240, 240, 240);
  font-size: 2rem; 
  text-transform: uppercase;
  line-height: 8vh;
  margin-bottom: 4vh;
}
.buttonMore {
  display: inline;
  background: rgb(240, 240, 240);
  font-size: .8rem;
  padding: .6rem 1rem;
  font-weight: bolder;
  cursor: pointer;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  border-radius: 20px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.csimg {
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}

@media only screen and (max-width: 800px) {
  .htitle {
    font-size: 1.5rem;
  }
} 

@media only screen and (max-width: 600px) {
  .fItem1 {
    top: 55vh; 
  }
  .htitle {
    font-size: 1rem;
    line-height: 6vh;
  }
}

@media only screen and (max-width: 500px) {
  .fItem1 {
    top: 30vh; 
  }
  .htitle {
    font-size: .8rem;
    line-height: 5vh;
    font-weight: bolder;
  }
}