.container {
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.positionR {
  position: relative;
}

.positionA {
  position: absolute;
}

.flex {
  display: flex;
}

.slideShow {
  display: flex;
  position: absolute;
  transform: translateX(-100vw);
  -webkit-transform: translateX(-100vw);
  -moz-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  -o-transform: translateX(-100vw);
}

.animation {
  transition: transform 1s linear;
  -webkit-transition: transform 1s linear;
  -moz-transition: transform 1s linear;
  -ms-transition: transform 1s linear;
  -o-transition: transform 1s linear;
}

.slideShow.transition1l {
  transform: translateX(-200vw);
  -webkit-transform: translateX(-200vw);
  -moz-transform: translateX(-200vw);
  -ms-transform: translateX(-200vw);
  -o-transform: translateX(-200vw);
}
.slideShow.transition2l {
  transform: translateX(-300vw);
  -webkit-transform: translateX(-300vw);
  -moz-transform: translateX(-300vw);
  -ms-transform: translateX(-300vw);
  -o-transform: translateX(-300vw);
}
.slideShow.transition3l {
  transform: translateX(-400vw);
  -webkit-transform: translateX(-400vw);
  -moz-transform: translateX(-400vw);
  -ms-transform: translateX(-400vw);
  -o-transform: translateX(-400vw);
}
.slideShow.transition4l {
  transform: translateX(-500vw);
  -webkit-transform: translateX(-500vw);
  -moz-transform: translateX(-500vw);
  -ms-transform: translateX(-500vw);
  -o-transform: translateX(-500vw);
}
.slideShow.transition5l {
  transform: translateX(-600vw);
  -webkit-transform: translateX(-600vw);
  -moz-transform: translateX(-600vw);
  -ms-transform: translateX(-600vw);
  -o-transform: translateX(-600vw);
}

.slide {
  margin: 0;
  padding: 0;
  flex-shrink: 0 0 100vw;
}

.image {
  width: 100vw;
  height: 100vh;
}