.container {
  position: relative;
  background: #ddd;
  padding-bottom: 5vh;
}

.cardsContainer {
  display: flex;
  justify-content: space-around;
  margin-left: 10vw;
  max-width: 80vw;
}

.header {
  text-align: center;
  padding: 5vh 0 5vh;
  line-height: 2;
}

.header p:nth-child(1) {
  color: lightseagreen;
}
.header p:nth-child(2) {
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .cardsContainer {
    flex-wrap: wrap;
  }

  .header p:nth-child(2) {
    font-size: 1.5rem;
  }
}